.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.modal_active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    width: 350px;
    min-width: fit-content;
}