* {
    padding: 0;
    margin: 0;
    transition: 1s;
    font-family: "Montserrat", sans-serif;
}

hr {
    margin: 10px 0px 10px 0px;
    height: 2px;
    border-width: 0px;
    background-color: #090909;
    border-radius: 5px;
}

#root {
    display: flex;
    justify-content: center;
}

.search_bar {
    display: flex;
    gap: 5px;
    width: 100%;
}

.item-enter {
    opacity: 0;
}

.item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.item-exit {
    opacity: 1;
}

.item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}