* {
    padding: 0;
    margin: 0;
    transition: 1s;
    font-family: "Montserrat", sans-serif;
}

hr {
    margin: 10px 0px 10px 0px;
    height: 2px;
    border-width: 0px;
    background-color: #090909;
    border-radius: 5px;
}

#root {
    display: flex;
    justify-content: center;
}

.Post {
    background-color: #090909;
    color: #fff;
    min-width: 438px;
    border-radius: 10px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.PostTitle {
    font-size: 16pt;
    font-weight: 600;
}

.PostContent {
    font-size: 10pt;
    font-weight: 400;
}